.main3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.Box{
    background-color: rgb(40,120,60);
    height: 100%;
    box-shadow: 1px,1px,3px rgb(100,99,99);
    border-radius: 5px;
    padding: 4px;

}
.text{
    background-color: white;
    color: black;
}